@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hover-glow-image {
  filter: drop-shadow(0 0 10px rgba(243, 212, 8, 0.726)); 
  transition: filter 0.3s ease-in-out;
}

